@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default font size (for large screens) */
body, .prose {
  font-size: 14px;
}

/* Medium screens (tablets) */
@media screen and (max-width: 1024px) {
  body, .prose {
    font-size: 12px;
  }

  h1, .prose {
    font-size: 1.75em;
  }

  h2, .prose {
    font-size: 1.5em;
  }

  h3, .prose {
    font-size: 1.3em;
  }

  svg, .icon {
    width: 90%;
    height: 90%;
  }

}

/* Small screens (mobile) */
@media screen and (max-width: 768px) {
  body , .prose{
    font-size: 10px;
  }

  h1, .prose {
    font-size: 1.5em;
  }

  h2, .prose{
    font-size: 1.25em;
  }

  h3, .prose {
    font-size: 1.5em;
  }

  svg, .icon {
    width: 80%;
    height: 80%;
  }
}

/* Extra small screens (very small mobile devices) */
@media screen and (max-width: 480px) {
  body, .prose {
    font-size: 8px;
  }

  h1, .prose {
    font-size: 1.25em;
  }

  h2, .prose {
    font-size: 1em;
  }

  h3, .prose {
    font-size: 1.3em;
  }

  svg, .icon {
    width: 70%;
    height: 70%; 
  }
}
